---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Heading from "../components/Heading.astro";
---

<Layout title="Astro Build 1.0." >
	<main>
<Heading/>
		
			
			<Card
				href="https://astro.build/themes/"
				title="Astro Themes"
				body="Explore a galaxy of community-built starter themes customized just for you"
			/>
			
	</main>
</Layout>

<style>
	
</style>

<script>

console.log("Hello from the index.astro page");
</script>
